@model IEnumerable<HealthInsurance.Models.ViewModels.RequestListViewModel>

@{
    ViewData["Title"] = "Index";
}

<section id="main-content" style="margin-top: 40px">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Policy Request
                </div>
                @*<div class="row w3-res-tb">
                    <div class="col-sm-5 m-b-xs">
                        <p>
                            <a asp-action="PolicyList" class="btn btn-outline-success">Add Staff</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                    </div>

                </div>*@
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:20px;">
                                    <label class="i-checks m-b-none">
                                        <input type="checkbox"><i></i>
                                    </label>
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.City)
                                </th>
                                <th>
                                    PolicyName
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Emi
                                </th>
                                <th>
                                    RequestDate
                                </th>
                                <th>
                                    Status
                                </th>
                                <th style="width:30px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.FirstName)  @Html.DisplayFor(modelItem => item.Customer.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.City)
                                </td>
                                <td>
                                    @foreach (var i in item.PolicyRequests)
                                    {
                                        <p>@Html.DisplayFor(modelItem => i.Policy.PolicyName)</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emi)
                                </td>

                                <td>
                                    @foreach (var i in item.PolicyRequests)
                                    {
                                        <p>@Html.DisplayFor(modelItem => i.RequestDate)</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit",  new { @class = "btn btn-success" }) | 
                                    @Html.ActionLink("Detail", "Detail", new { id = item.Customer.CustomerId }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want this record?')" })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</section>