@model IEnumerable<HealthInsurance.Models.PolicyRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Policy Request
                </div>
                <div class="row w3-res-tb">
                    <div class="col-sm-5 m-b-xs">
                        <p>
                            <a asp-action="Create" class="btn btn-outline-success">Add Staff</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                    </div>
                   
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:20px;">
                                    <label class="i-checks m-b-none">
                                        <input type="checkbox"><i></i>
                                    </label>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PolicyRequestId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RequestDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th style="width:30px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PolicyRequestId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Create", new {  id=item.PolicyRequestId, item.RequestDate, item.Status, item.EmployeeId, item.PolicyId  } , new { @class="btn btn-success"}) |
                                        @Html.ActionLink("Delete", "DeleteStd", new {  id=item.PolicyRequestId } , new { @class = "btn btn-danger", onclick="return confirm('Do you really want this record?')" })
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>
              
            </div>
        </div>
    </section>
</section>