@model IEnumerable<HealthInsurance.Models.ViewModels.CustomerListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}

<section id="main-content" style="margin-top: 40px">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Customer List
                </div>
                <div class="row w3-res-tb">
                    <div class="col-sm-5 m-b-xs">
                        <p>
                            <a asp-action="PolicyList" class="btn btn-outline-success">Add Staff</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                    </div>

                </div>
                <div class="table-responsive">
                    <form asp-controller="Staff" asp-action="Index" method="get" style="padding: 5px 0 5px 14px">
                        <p>
                            @*<input type="text" name="SearchString" />*@                         
                            <select  name="SearchString" id="SearchString">
                                <option value="No">Unsuccess Request</option>
                                <option value="">Success Request - Check Payment</option>
                                <option value="">Successfull</option>                          
                                                     
                            </select>
                            <input type="submit" id="Search" value="Search"/>
                        </p>
                    </form>
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:20px;">
                                    <label class="i-checks m-b-none">
                                        <input type="checkbox"><i></i>
                                    </label>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.City)
                                </th>
                                <th>
                                    Policy Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th style="width:30px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:20px;">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.City)
                                    </td>
                                    <td>
                                        @foreach (var i in item.Customer.policyRequests)
                                        {
                                            <p>@Html.DisplayFor(item => i.Policy.PolicyName)</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <form asp-action="Delete">
                                            <input type="hidden" name="id" value="@item.Customer.CustomerId" />
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want this record?')">Delete</button>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</section>